.header-left h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  unicode-bidi: isolate;
  margin-bottom: 2rem;
}

.top-1 {
  width: 23%;
}

.sidebar {
  width: 100%;
  padding: 20px;
  height: 100vh;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  position: relative; 
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
}


.dropdown {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
  
}

.email-list {
  flex-grow: 1;
}

.email-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  position: relative;
  gap: 12px;
  border-radius: 0.7rem;

}



.email-item.unread .sender {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.email-item.selected {
  background-color: #e6e5fb;
}

.avatar {
  background-color: #e8e4e4;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  flex-shrink: 0;
}

.email-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.email-header {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.report {
  font-size: 14px;
  color: #888;
}

.sender {
  color: #514f4f;
}

.time {
  color: #888;
  font-size: 12px;
}

.platform {
  color: #555;
  font-size: 13px;
}

.preview { 
  color: #777;
  font-size: 12px;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.prompt-text {
  max-width: 80%;
}

.priority-pill {
  background-color: #ffefc1;
  color: #8a6d00;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  position: absolute;
  top: 12px;
  right: 16px;
}

.floating-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
}

.floating-btn {
  background: white;
  border-radius: 10px;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;

}


.menu-icon {
    height: 1.5rem;
    width: 1.5rem;

}

@media (max-width:1235px) {
  .sidebar {
    width: 100%;
  }

}

@media (max-width:1103px) {

  .sender {
    font-size: 0.6rem;
  }
  .platform {
    font-size: 0.6rem;
  }
  .prompt-text {
    font-size: 0.5rem;
  }

  .report {
    font-size: 0.6rem;
  }
}

@media (max-width: 1049px) {
  .top-1 {
    width: 4%;
  }
  .sidebar {
    display: none;
  }
  .menu-button {
    height: 80px;
    display: block;
  }
}

@media (max-width:678px) {
  .top-1 {
    display: none;
  }
  
} 