.message {
  margin-top: 1rem;
  display: flex;
  max-width: 70%;
  align-items: flex-start;
}

.user-message {
  display: flex;
  gap:1rem;
  flex-direction: row;
  align-self: flex-start;
  align-items: end;

}

.support-message {
  display: flex;
  gap:1rem;
  flex-direction: row-reverse;
  align-self: flex-end;
  align-items: end;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  flex-shrink: 0;


}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-text {
  padding: 12px 15px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
}

.user-message .message-text {
  background-color: #f0f0f0;
}

.support-message .message-text {
  background-color: #e1ebfd;
}

.message-time {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  text-align: end;
}

.user-message .message-time {
  align-self: flex-start;
}

@media (max-width:1298px) {
  .message {
    margin-top: 1rem;
  }
  .message-text {
    font-size: 0.7rem;
  }
}

@media (max-width:810px) {
  .message {
    padding:40px 0px;
  }

  .message-text {
    font-size: 0.7rem;

  }

  
  
}